<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 mt-5">
      <form #userLogin name="userLogin" (ngSubmit)="onSubmit(userLogin)" class="bg-light p-3">
        <div class="mb-2">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" #userName required class="form-control" />
        </div>
        <div class="mb-2">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" #password class="form-control" />
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
