.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #fafafa;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}

input {
  margin-bottom: 15px;
}
